<mat-grid-list cols="1" rowHeight="200px" class="margin">
  <mat-grid-tile class="tab1">
    <div *ngFor="let book of booksData">
      <mat-card class="cb" ng-click="tab = 1" ng-class="{'cb-active': tab == 1}">
        <mat-card-header>
          <mat-card-title (click)="bookInfo($event.target.innerHTML); changeShowStatus()">
            {{book[0]}}
          </mat-card-title>
          <mat-card-subtitle>
            {{book[1]}}
          </mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="1" rowHeight="200px">
  <mat-grid-tile>
    <mat-card>
      <mat-card-content>
        <h2 class="example-h2">Book Progress</h2>
        <section class="example-section">
          <mat-progress-bar
            *ngIf="count > 0"
            color="primary"
            mode="determinate"
            value="{{count}}"
            bufferValue="{{bookContent.length}}">
          </mat-progress-bar>
        </section>
        <div *ngIf="count > 0">
          {{count}} / {{bookContent.length}}
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="4" rowHeight="800px" *ngIf="showHide" class="margin-content">
  <mat-grid-tile>
    <button mat-icon-button (click)="prevPage()">
      <mat-icon>
        keyboard_arrow_left
      </mat-icon>
    </button>
  </mat-grid-tile>

  <mat-grid-tile colspan="2">
    <div class="DivWithScroll">
      <p *ngFor="let line of currentPage" class="content" style="overflow-y:scroll;">
        {{line}} <br>
      </p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-icon-button (click)="nextPage()">
      <mat-icon>
        keyboard_arrow_right
      </mat-icon>
    </button>
  </mat-grid-tile>
</mat-grid-list>

