.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.h { text-align:center; }

.one{
  grid-column: 1;
  grid-row: 1;
}
.two {
  grid-column: 2/4;
  grid-row: 1;
}

.cb {
  background-color: white;
  color: black;
}


.cb:hover{
  background-color: #4a4a4a;
  color: #FFF;
}
.mdl-card {
  overflow:auto;
}
