<mat-grid-list cols="1" rowHeight="200px" class="margin">
  <mat-grid-tile class="tab1">
    <div *ngFor="let book of booksData">
      <mat-card class="cb" ng-click="tab = 1" ng-class="{'cb-active': tab == 1}">
        <mat-card-header>
          <mat-card-title (click)="bookInfo($event.target.innerHTML)">
            {{book[0]}}
          </mat-card-title>
          <mat-card-subtitle>
            {{book[1]}}
          </mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<h2 style="text-align: center" *ngIf="count > -1">
  Currently Reading: {{bookTitle}}
</h2>

<mat-grid-list cols="4" rowHeight="800px" *ngIf="count > -1" class="margin-content" (keydown.ArrowLeft)="onLeft($event)" (keydown.ArrowRight)="onRight($event)">
  <mat-grid-tile>
    <button mat-icon-button (click)="prevPage()">
      <mat-icon class="icon-size">
        keyboard_arrow_left
      </mat-icon>
    </button>

  </mat-grid-tile>

  <mat-grid-tile colspan="2">
    <div class="DivWithScroll">
      <p *ngFor="let line of currentPage" class="content" style="overflow-y:scroll;">
        {{line}} <br>
      </p>
    </div>
  </mat-grid-tile>

  <mat-grid-list cols="1" rowHeight="80px" *ngIf="count > -1">
    <mat-grid-tile>
      <mat-card>
        <mat-card-content>
          <section class="section">
            <mat-progress-bar
              *ngIf="count > -1"
              color="primary"
              mode="determinate"
              value="{{count}}"
              bufferValue="{{bookContent.length}}">
            </mat-progress-bar>
          </section>
          <div *ngIf="count > -1">
            In Page: {{count}} / {{bookContent.length}}
            |
            Progress: {{ (count/bookContent.length*100)| number:0 }}%
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-tile>
    <button mat-icon-button (click)="nextPage()">
      <mat-icon class="icon-size">
        keyboard_arrow_right
      </mat-icon>
    </button>

  </mat-grid-tile>
</mat-grid-list>
