.margin {
  margin-top: 20px;
}

.tab1 {
  background: white;
  width: 10px;
}

.cb {
  background-color: white;
  color: black;
}

.margin-content {
  margin-top: 10px;
}

.icon-size {
  width: 26px;
  height: 26px;
  line-height: 26px;
  font-size: 50px;
}

.divWithScroll{
  height: 75%;
  width: 800px;
  overflow:scroll;
  overflow-x: visible;
  border: 1px solid #DDDDDD;
}

.section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 30px;
  width: 700px;
}

.content {
  float: none;
  text-align: center;
}

ngb-progressbar {
  width: 100%;
}
