.cb {
  background-color: white;
  color: black;
}

.cb:hover{
  background-color: #4a4a4a;
  color: #FFF;
}
.mdl-card {
  overflow:auto;
}

.tab1 {
  background: white;
  width: 10px;
}

.content {
  float: none;
  text-align: center;
}

.margin {
  margin-top: 20px;
}

.margin-content {
  margin-top: 10px;
}

.DivWithScroll{
  height: 75%;
  width: 700px;
  overflow:scroll;
  overflow-x: visible;
  border: 1px solid #DDDDDD;
}

.example-h2 {
  margin: 10px;
}

.section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 30px;
  width: 700px;
}

.example-margin {
  margin: 0 10px;
}

.icon-size {
  width: 26px;
  height: 26px;
  line-height: 26px;
  font-size: 50px;
}

.percentage {
  padding-left: 140px;
}

