<div class="info-two">
  <h4 class="heading">
    Upcoming Features
  </h4>
  <div class="grid">
    <div class="detail-1">
      <mat-icon class="icon-size">dialpad</mat-icon>
      <br>
      <div style="padding-left: 20px">
        Save progress
      </div>

    </div>
    <div class="detail-2">
      <mat-icon class="icon-size">settings_voice</mat-icon>
      <br>
      <div style="padding-left: 20px">
        AudioBook(AWS Polly)
      </div>
    </div>
    <div class="detail-3">
      <mat-icon class="icon-size">call_merge</mat-icon>
      <br>
      <div style="padding-left: 20px">
        Upload New Books
      </div>
    </div>
  </div>
</div>
