<mat-toolbar class="header">
  <mat-icon>reorder</mat-icon>

  <div>
    <h1 class="title">{{title}}</h1>
  </div>

  <mat-icon class="icon-width">search</mat-icon>

  <span class="full-width">
      <mat-form-field>
        <input matInput placeholder="Search for books" value="" class="">
      </mat-form-field>
      <button mat-raised-button class="normal-button">Search</button>
  </span>

  <span>
    <button mat-raised-button class="normal-button">Sign Up</button>
    <button mat-raised-button class="normal-button">Sign In</button>
  </span>
</mat-toolbar>

<section class="landing">
  <div class="lander-wrapping">
    <h1 class="heading">
      Choose from the existing book catalog, start reading
    </h1>
    <h2>
      We provide books from project gutenberg's which publishes books with
      open source license.
    </h2>
    <button mat-raised-button class="catalog">Browse the catalog</button>
  </div>
</section>

<mat-grid-list cols="2" rowHeight="2:1" class="border-grid">
  <mat-grid-tile class="tile1">
    <app-info-one></app-info-one>
  </mat-grid-tile>
  <mat-grid-tile class="tile2">
    <app-info-two></app-info-two>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="1" rowHeight="3:1">
  <mat-grid-tile class="tile3">
    <h2>
      Want to contribute to the devlopment?
      For the repo in github
    </h2>
    <mat-icon class="icon-spacing">code</mat-icon>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="1" rowHeight="15:1">
  <mat-grid-tile class="tile4">
    <app-footer></app-footer>
  </mat-grid-tile>
</mat-grid-list>

<router-outlet></router-outlet>


