.info-one {
  padding-right: 190px;
  padding-bottom: 120px;
}

.heading {
  font-size: 34px;
  font-family: courier;
  padding-left: 150px;
}

.content {
  font-size: 20px;
  font-family: arial;
}


.grid{
  display:grid;
  grid-template-rows: 50px;
  grid-template-columns: auto auto auto;
  padding-left: 40px;
}

.detail-1, .detail-2, .detail-3 {
  padding-left: 50px;
  padding-top: 60px;
}

.icon-size {
  width: 26px;
  height: 26px;
  line-height: 26px;
  font-size: 120px;
}
