<div class="info-one">
  <h4 class="heading">
    Project Gutenberg
  </h4>
  <div class="grid">
    <div class="detail-1">
      <mat-icon class="icon-size">book</mat-icon>
      <br>
      <div style="padding-left: 30px">
        54,000 Books
      </div>
    </div>
    <div class="detail-2">
      <mat-icon class="icon-size">copyright</mat-icon>
      <br>
      <div style="padding-left: 30px">
        Expired Books
      </div>
    </div>
    <div class="detail-3">
      <mat-icon class="icon-size">chrome_reader_mode</mat-icon>
      <br>
      <div style="padding-left: 30px">
        Proofread
      </div>
    </div>
  </div>
</div>

